
    <title><%= ui.name %></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://solid-live.github.io/odoo/examples/odoo.js"></script>
    <style>
    .content-wrapper {
      margin-left: 230px;
    }
    </style>
