<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

  <% include ../partials/nav %>

  <div class="content-wrapper">
    <section class="content-header">


      <div>
      Faucet Balance : <%= ui.balance %><br>
      Average next payout : <%= ui.payout %><br>
      <form method=post action=addcredits>Which year was the web invented?<br>
      <input name=year><br>
      <input type="checkbox" name="random" value="1" checked>Random<br>
      <input type="submit" value="Submit"> </form>
      </div>

    </section>
  </div>

  <footer>
    <% include ../partials/footer %>
  </footer>

</body>
</html>
